<p-panel header="NG Music Maker > Drum Machine" [toggleable]="false">
    <div class="divTracks">
        <table class="tblTracks">
            <tr *ngFor="let track of tracks; let i = index" alt="foo" >
                <td *ngFor="let itemValue of track.trackData; let j = index" class="tdTrackCell"></td>
            </tr>
        </table>
    </div>
    <h3>Configuration</h3>
    <div>
        <div>Tempo</div>
        <div><input [(ngModel)]="tempo" ></div>
    </div>
    <div>
        <div>Beats per measure</div>
        <div><input [(ngModel)]="beatsPerMeasure" ></div>
    </div>
    <div>
        <div>Number of measures</div>
        <div><input [(ngModel)]="numberOfMeasures" ></div>
    </div>

</p-panel>
