<button (click)="onGetTracks()">Get track data</button>
<button (click)="onPlayTracks()">Play tracks</button>

<p-panel header="NG Music Maker > Drum Machine" [toggleable]="false">
    <div class="divTracks">

        <div *ngFor="let track of tracks; let i = index">
            <app-drum-track-row [track]="track"  ></app-drum-track-row>
        </div>

    </div>
    <h3>Configuration</h3>
    <div>
        <div>Tempo</div>
        <div><input [(ngModel)]="tempo" ></div>
    </div>
    <div>
        <div>Beats per measure</div>
        <div><input [(ngModel)]="beatsPerMeasure" ></div>
    </div>
    <div>
        <div>Number of measures</div>
        <div><input [(ngModel)]="numberOfMeasures" ></div>
    </div>

</p-panel>
